.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
}

.cell {
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 75px;
}

.cell:hover {
  opacity: 0.9;
}

.x-winner {
  background-color: lightcoral;
}

.o-winner {
  background-color: lightblue;
}
